<!DOCTYPE html>
<html>
<head>
    <title>JST_</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="JavaScript and HTLM5 implementation of a Linux terminal." />
    
    <!-- <script type="text/javascript" src="./resources/logic/libraries/..."></script> -->
    <!-- <script type="text/javascript" src="./resources/logic/..."></script> -->

    <!-- <link rel="stylesheet" type="text/css" href="./resources/ui/styles/..." /> -->
    <!-- <link rel="icon" type="image/png" href="./resources/ui/images/..." /> -->
</head>
<body>
    <div>
        JST_
    </div>
</body>
</html>