<!DOCTYPE html>
<html>
<head>
    <title>JST_</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="JavaScript and HTLM5 implementation of a Linux terminal." />
    
    <!-- <script type="text/javascript" src="./resources/scripts/libraries/..."></script> -->
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Group.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/User.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Kernel.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/GUI/AbstractInput.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/GUI/TerminalInput.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/GUI/EditorInput.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/GUI/EditorCommandInput.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/GUI/Terminal.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/GUI/Editor.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/CommandResult.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/AbstractFile.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/File.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Directory.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/SymbolicLink.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/AbstractCommand.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/clear.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/history.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/ls.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/cd.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/pwd.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/echo.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/man.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/date.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/rm.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/touch.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/mkdir.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/cp.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/mv.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/ln.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/rmdir.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/edit.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/cat.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/head.js"></script>
    <script type="text/javascript" src="../resources/scripts/classes/Logic/Commands/tail.js"></script>
    
    <script type="text/javascript" src="../resources/scripts/main.js"></script>

    <link rel="stylesheet" type="text/css" href="../resources/ui/styles/terminal.css" />
    <link rel="stylesheet" type="text/css" href="../resources/ui/styles/editor.css" />

    <!-- Favicon variations generated with https://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="../resources/ui/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../resources/ui/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../resources/ui/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../resources/ui/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="../resources/ui/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div id="editor"></div>
    <div id="terminal"></div>
</body>
</html>