
#editor {
    visibility: hidden;
    
    max-width: 100%;
    width: 100%;
    height: 95vh;
    vertical-align: top;
    display: table-cell;
    z-index: 9;
}

#editorTopContainer {
    display: block;
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
}

#editorBottomContainer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    min-height: 54px;
    z-index: 9;
}

#editorLeftSideNode {
    display: inline-block;
    width: 4%;
    min-width: 20px;
}

#editorinputEditable {
    pointer-events: none;
    position: absolute;
    width: 95%;
    max-width: 95%;
    padding-bottom: 50px;
    
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#editorCommandInputEditable {
    pointer-events: none;
    position: fixed;
    width: 100%;
    min-height: 18px;
    margin-top: 25px;
    font-weight: 500;
}

#editorFilenameBox {
    position: fixed;
    width: 100%;
    min-height: 18px;
    margin-top: 6px;
    font-weight: bold;
    color: black;
    background-color: rgb(247, 247, 247);
}

.editorWarningMsg {
    color:white;
    background-color:red;
}