
#editor {
    visibility: hidden;
    
    overflow-y: hidden;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    height: 95vh;
    vertical-align: bottom;
    display: table-cell;
    z-index: 9;
}

#editorinput {
    width: 100vw;
    max-width: 100vw;
}